.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scrollPane {
	-fx-border-color: transparent;
	-fx-background-color: #FFF;
	-fx-control-inner-background: #FFF;
}

.networkPane {
	-fx-border-width: 1;
	-fx-border-color: #CECECE;
}

.btnNext {
	-fx-background-image: url("../img/arrow-right.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.btnPrevious {
	-fx-background-image: url("../img/arrow-left.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.btnPlus {
	-fx-background-image: url("../img/plus.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-pref-height: 24px;
	-fx-pref-width: 24px;
}